<h1>Hello!</h1>

<p>Pour réinitialiser votre mot de passe sur FMR cliquez sur le lien ci-dessous</p>

<a href="{{ url('reset_password', {token: resetToken.token}) }}">{{ url('reset_password', {token: resetToken.token}) }}</a>

<p>À très vite.</p>
